body {
    text-align: center;
}
#board {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: xx-large;
}
#board td { 
    border: 3px solid black;
    padding: 15px;
    margin: 0px;   
    min-width: 50px;
}
.open-cell:hover {
    background-color: #0066ff;
}
.winning-cell {
    background-color: #ddffcc;
    animation-name: winner-flash;
    animation-duration: 2s;
    animation-iteration-count: 10;
}
@keyframes winner-flash {
    from {background-color: white;}
    to {background-color: #ddffcc;}
}
#board td.col1 {
    border-left: 0px;
}
#board td.col3 {
    border-right: 0px;
}
#board td.row1 {
    border-bottom: 0px;
}
#board td.row3 {
    border-top: 0px;
}
#score {
    table-layout: fixed;
}
#score td {
    width: 50px;;
}


