nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-bottom: 0px;
}

.btn-bar {
  background-color: #f2f2f2;
}
.btn-ui {
  background-color: red;
}
.btn-ui a {
  color: white;
}
.btn-bus {
  background-color: #91d250;
}
.btn-bus a {
  color: black;
}
.btn-data {
  background-color: #0071c2;
}
.btn-data a {
  color: white;
}
.btn-db {
  background-color: #ffc200;
}
.btn-db a {
  color: black;
}

#nav-toolbar {
  font-size: 0.8rem;
}

#nav-toolbar a.active {
  font-weight: bold;
  border-bottom-style: double;
  border-width: 3px;
  border-color: black;
  padding-bottom: 0px;
}

/* Offset the top of the section so that scrollspy and nav-toolbar links skip over the nav-toolbar
https://stackoverflow.com/a/12606867/902742
*/
section h4 {
  padding-top: 40px;
  margin-top: -40px;
}
#Diagram p {
  padding-top: 50px;
  margin-top: -40px;
}
